/* CSS Document */
@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Nunito Sans Regular, sans-serif;
	color: #787878;
}
.container{
	width: 100%;
	margin: auto;
}
/*header style*/
header{
	top: 0px;
	left: 0px;
	width: 1366px;
	height: 478px;
	background-image: url("images/hero-image-home.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	min-height: 478px;
	opacity: 1;
}
.header-logo{
	padding-top: 50px;
	padding-left: 98px;
	
	
}
.hero-header{
	padding-top: 42.37px;
	padding-left: 96px;
	text-align: left;
	letter-spacing: 0.38px;
	color: #EB7732;
	opacity: 1;
}
.hero-paragraph{
	padding-top: 26.5px;
	padding-left: 100px;
	width: 527px;
	height: 136px;
	font-family: "Nunito Sans Regular";
	text-align: left;
	letter-spacing: 0.09px;
	color: #787878;
	opacity: 1;
}
.hero-button{
	padding-top:349px;
	left: 100px;
	width: 181px;
	height: 54px;
}
.button {
  background: #EB7732 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*end header style*/