/* CSS Document */
@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #787878;
}
.container{
	width: 100%;
	margin: auto;
}
/*header style*/
header{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 478px;
	background-image: url("images/hero-image-home.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	min-height: 478px;
	opacity: 1;
}
.header-logo{
	padding-top: 50px;
	padding-left: 98px;
	
	
}
.hero-header{
	padding-top: 42.37px;
	padding-left: 96px;
	text-align: left;
	letter-spacing: 0.38px;
	color: #EB7732;
	opacity: 1;
}
.hero-paragraph{
	padding-top: 26.5px;
	padding-left: 100px;
	width: 527px;
	height: 136px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: left;
	line-height: 1.4;
	letter-spacing: 0.09px;
	color: #787878;
	opacity: 1;
}
.hero-button{
	padding-top:349px;
	left: 200px;
	width: 181px;
	height: 54px;
}
.button {
  background: #EB7732 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*end header style*/
/*welcome video*/
.welcome-video{
	float: left;
	padding: 80.78px 102px;
	width: 100%;
	height: 616px;
	background: #E6F6FE 0% 0% no-repeat padding-box;
	opacity: 1;
}
.brent-video{
	float: left;
	width: 767px;
	height: 439px;
	border-radius: 10px;
	background: #84C5ED;
	opacity: 1;
}
.video-card{
	float: left;
	padding: 80px 0px 0px 35.12px;
	width: 364px;
	height: 442px;
}
.as-leaders-header{
	text-align: left;
	letter-spacing: 0.3px;
	color: #EB7732;
	opacity: 1;
}
.we-become-Great-paragraph{
	padding-top: 30.06px;
	letter-spacing: 0.09px;
	color: #787878;
}
/*end welcome video*/
/*learn more content*/
.learn-more-content{
	float: left;
	padding: 94.7px 146px;
	width: 100%;
	height: 764px;
	background-image: url("images/learn-more-skyline.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}
.card{
	float: left;
	width:  246px;
	height: 252px;
}