@charset "UTF-8";
/* CSS Document */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("images/hero-image-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card {
	background: #ffffff;
	border: none;
	opacity: 100%;
}
.card-body {
	border: none;
	opacity: 100%;
}
.color-block{
	width: 100%;
	height: 764px;
	background-image: url("images/learn-more-skyline.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.bg-blue{
	background: #023060
}