@charset "UTF-8";
/* CSS Document */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("images/hero-image-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-transparent{
	background: #000000;
}